@import '../../../../common';

.nav-bar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;

    .nav-bar-item {
        width: 40px;
        height: 40px;
        color: inherit;
        padding: 0;
        margin-bottom: 8px;
        text-align: center !important;

        .button-icon {
            vertical-align: baseline;
        }

        &.nav-bar-logo {
            width: 48px;
            height: 48px;
            font-size: 16px !important;
            font-weight: 700;
            margin-bottom: 16px;
        }

        &:hover {
            background: transparentize(#000, .9);
        }
    }
}