@import '../../../../common.scss';

.nav-bar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;

    .nav-bar-item {
        width: 40px;
        height: 40px;
        color: inherit;
        padding: 0;
        margin-bottom: 8px;
        text-align: center !important;
        transition: background $theme-transition-duration ease-in-out;

        .button-icon {
            vertical-align: baseline;
        }

        &.nav-bar-logo-button {
            width: 48px;
            height: 48px;
            font-size: 32px !important;
            font-weight: 700;
            margin-bottom: 16px;

            //.nav-bar-logo {
            //    height: 48px;
            //    background-image: url("../../../../../images/logo.png");
            //    background-position: center;
            //    background-size: 32px 32px;
            //    background-repeat: no-repeat;
            //
            //&.fold {
            //    background-image: url("../../../../../images/logo-primary.png");
            //}
            //}
        }

        &:hover {
            background: transparentize(#000, .9);
        }
    }
}