@import '../../../../common';

.nav-bar {
    position: absolute;
    box-sizing: border-box;
    width: 64px;
    height: 100%;
    padding: 16px 0;
    color: #fff;
    background: $theme-primary;

    .nav-bar-top,
    .nav-bar-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar-item {
        width: 32px;
        height: 32px;
        color: inherit;
        padding: 0;
        margin-bottom: 8px;

        .button-icon {
            vertical-align: baseline;
        }

        &:hover {
            background: transparentize(#000, .85);
        }
    }

    .nav-bar-top {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        margin-bottom: 24px;

        .nav-bar-item {
            width: 40px;
            height: 40px;
            font-size: 24px;
        }

        .nav-bar-logo {
            width: 48px;
            height: 48px;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 16px;
        }
    }

    .nav-bar-bottom {

    }

}