@import '../../../../common';

.nav-title {
    position: fixed;
    top: 56px;
    left: 248px;
    right: 0;
    box-sizing: border-box;
    height: 96px;
    background: $theme-highlight;
    padding: 16px 48px;
    z-index: $nav-bar-z-index;
    transition: left $theme-transition-duration ease-in-out;

    .nav-title-name {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        height: 40px;
        line-height: 40px;
    }

    .nav-title-crumbs-wrapper {
        position: relative;

        .nav-title-crumbs-icon {
            display: block;
            position: absolute;
            width: 20px;
            height: 24px;
            line-height: 28px;
            left: -20px;
            top: 0;
            color: transparentize(#fff, .5);
            text-align: center;
        }

        .nav-title-crumbs {
            color: #fff;
            line-height: 24px;

            .nav-title-crumb {
                display: inline-block;
                color: #fff;
                user-select: none;
                cursor: default;

                &.nav-title-link {
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            .crumbs-separator {
                opacity: .5;
            }
        }
    }
}

.app.nav-menu-collapsed {
    .nav-title {
        left: 48px !important;
    }
}