@import '../common.scss';

.field-set {
    display: flex;
    padding: 36px 0;

    .field-set-item {
        display: inline-block;
        padding: 0 16px;

        & > * {
            width: 100%;
        }
    }
}