@import '../common.scss';

.field-set {
    display: flex;
    padding: 24px 0;
    border-bottom: 1px solid transparentize($theme-border, .5);

    .field-set-item {
        display: inline-block;
        padding: 0 16px;

        & > * {
            width: 100%;
        }
    }
}