@import '../../../../../common.scss';

.analgesia-data {

    .analgesia-data-table-scroller {
        overflow-x: auto;
    }

    .vas,
    .bromage,
    .sbp,
    .dbp,
    .heart-rate,
    .spo2 {
        width: 64px;
    }

    .tsb,
    .ssb {
        width: 64px;
    }

}