@import '../../../../../common.scss';

.analgesia-data {

    .analgesia-data-table-scroller {
        overflow-x: auto;
    }

    .vas-score {
        width: auto;
    }

    .tsb,
    .ssb {
        width: 64px;
    }

}