@import '../../../../common';

.nav-patient-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $theme-secondary;

    .icon-button.all-patients-menu-item {
        border-radius: $theme-border-radius;
        width: 48px;
        height: 40px;
        font-size: 24px !important;
        text-align: center;

        &:hover {
            background: transparentize(#000, .9);
        }
    }

    &.fold {
        //top: 16px+160px+25px !important;
        //transform: translateY(16px+160px+25px);
        //transition: top $theme-transition-duration ease-in-out;
    }

}