@import '../../../../common';

.nav-patient {
    flex: 1;
    box-sizing: border-box;
    height: 100%;
    padding: 16px;
    background: $theme-secondary;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon-button.all-patients-menu-item {
        border-radius: $theme-border-radius;
        width: 48px;
        height: 40px;
        font-size: 24px !important;
        text-align: center;
    }

    .add-patient-wrapper {
        text-align: center;
        line-height: 24px;

        .add-patient-icon {
            display: block;
            font-size: 96px;
            color: $theme-description;
            cursor: pointer;
        }

        .add-patient-button {
            color: $theme-highlight;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .base-button {
        width: 100%;
        height: 48px;
        text-align: left;
        padding: 0 16px;

        &:hover {
            background: transparentize($theme-primary, .9);
        }
    }

    .all-patients-button {
        font-size: 16px;
        margin-bottom: 24px;

        .button-icon-left {
            margin-right: 16px;
        }
    }

    &.no-patient {
        align-items: center;
        justify-content: center;
    }

    &.collapsed {
        position: absolute;
        top: 0;
        right: 0;
        width: 64px;
        padding-left: 0;
        padding-right: 0;
    }
}