@import '../../../../common';

.patient-list-wrapper {
    width: 100%;

    .base-button {
        width: 100%;
        height: 48px;
        text-align: left;
        padding: 0 16px;

        &:hover {
            background: transparentize($theme-primary, .9);
        }
    }

    .all-patients-button {
        font-size: 16px !important;
        margin-bottom: 24px;
        font-weight: 700;
        padding: 0 5px;
        text-overflow: clip;

        & > * {
            vertical-align: middle;
        }

        .button-icon-left {
            font-size: 24px !important;
            margin-right: 12px;
        }
    }

    .patient-list {
        flex: 1;
        overflow-y: auto;

        .patient {
            width: 100%;
            height: 40px;

            .patient-name {
                line-height: 24px;
                font-size: 16px;
            }

            .patient-desc,
            .patient-group {
                line-height: 16px;
                color: $theme-description;
                font-size: 12px;
                white-space: pre;
            }

            .patient-group {
                line-height: 24px;
            }
        }

    }
}