@import '../../../../common.scss';

.patient {
    position: relative;

    .patient-stepper {
        margin-bottom: 32px;
    }

    .patient-content {
        overflow: hidden;

        .patient-content-title {
            margin-bottom: 64px;
        }
    }
}