@import '../../../../common.scss';

.patient-list-table {

    .name-field {
        width: 160px;

        .text-field {
            border-bottom-color: transparent;

            .text-field-input {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &:hover {
            .text-field {
                border-bottom-color: $theme-border;
            }
        }
    }

    .group-select {
        width: 160px;

        .dropdown-select {
            border-bottom-color: transparent !important;
        }

        .dropdown-trigger {
            padding-left: 0;

            .dropdown-trigger-icon {
                opacity: 0;
            }
        }

        &:hover {

            .dropdown-select {
                border-bottom-color: $theme-border;
            }

            .dropdown-trigger-icon {
                opacity: 1;
            }
        }

    }
}