@import '../../../../common.scss';

.patient-list-table {

    .id-link {
        color: $theme-field;
        text-decoration: none !important;

        &:hover {
            color: $theme-highlight;
            text-decoration: underline !important;
        }
    }

    .name-field {
        width: 100%;

        .material-provider-label-wrapper {
            display: none;
        }

        .text-field {
            border-bottom-color: transparent;

            .text-field-input {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &:hover {
            .text-field {
                border-bottom-color: $theme-border;
            }
        }
    }

    .group-select {
        width: 100%;

        .material-provider-label-wrapper {
            display: none;
        }

        .dropdown-select {
            border-bottom-color: transparent !important;
        }

        .dropdown-trigger {
            padding-left: 0;

            .dropdown-trigger-icon {
                opacity: 0;
            }
        }

        &:hover {

            .dropdown-select {
                border-bottom-color: $theme-border;
            }

            .dropdown-trigger-icon {
                opacity: 1;
            }
        }

    }
}

.patient-list-table-empty {
    margin-top: 80px;
    font-size: 24px;
    text-align: center;
}