@import '../../../../common.scss';

.add-patient {
    position: relative;

    .add-patient-stepper {
        margin-bottom: 32px;
    }

    .add-patient-content {
        overflow: hidden;

        .add-patient-content-title {
            margin-bottom: 64px;
        }
    }
}