@import '../../../../common.scss';

.add-patient {
    position: relative;

    .add-patient-stepper {
        float: left;
        width: 160px;
        margin-right: 48px;
        padding-top: 24px;

        .bg-bar {
            height: 96px;
        }

        .title {
            white-space: pre;
        }
    }

    .add-patient-content {
        overflow: hidden;
        border-left: 1px solid $theme-border;
        padding-left: 96px;

        .add-patient-content-title {
            margin-bottom: 64px;

            .add-patient-content-title-step {
                color: $theme-description;
            }
        }
    }
}