@import '../../../../../common.scss';

.nav-user {
    float: left;

    .nav-user-trigger {
        width: auto;
        height: 36px;
        padding: 0 8px;
        text-align: left;
        background: transparent !important;

        .nav-user-content {
            display: inline-block;

            .nav-user-avatar {
                display: inline-block;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                margin: 0 8px;
                vertical-align: middle;
            }

            .nav-user-info {
                display: inline-block;
                vertical-align: middle;

                .nav-user-name,
                .nav-user-email {
                    line-height: 18px;
                    color: $theme-primary;
                }

                .nav-user-name {
                    font-size: 13px;
                }
            }
        }

        .button-icon-right {
            font-size: 20px;
            color: $theme-primary;
            margin-left: 8px;
        }

    }
}