@import '../../../../../common.scss';

.nav-user-popup {
    width: 150px;

    .customized-popup-triangle {
        right: 0 !important;
    }

    .list {
        width: 100%;

        .list-item {
            padding: 0 16px;

            &.sign-out {
                font-weight: 700;
            }
        }

        .list-separator {
            width: calc(100% - 32px);
            margin: 0 16px;
        }
    }
}