@import '../../../../common';

.nav-menu-list {
    font-size: 12px;
    user-select: none;
    overflow-x: visible;
    overflow-y: auto;

    .nav-menu-scroller {
        @include float-fix;
    }
}