@import '../../../../common';

.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: $theme-primary;
    width: 248px;
    height: 100%;
    box-sizing: border-box;
    transition-property: width, opacity, transform !important;
    transition-duration: $theme-transition-duration !important;
    transition-timing-function: ease-in-out !important;
    z-index: $nav-menu-z-index;

    .nav-menu-toggle-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 56px;
        border: none;
        padding: 0;
        box-shadow: none;
        opacity: 1;
        transition: right 0s, opacity $theme-transition-duration ease-in-out;

        .button-icon-left {
            display: inline-block;
            margin: 0;
            transform: rotate(-270deg);
        }

        &.collapsed {
            right: -24px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &.expanded {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &.hidden {
            opacity: 0;
            right: -99999999px;
            transition: right 0s $theme-transition-duration, opacity $theme-transition-duration ease-in-out;
        }
    }
}

.app.nav-menu-collapsed {
    .nav-menu {
        width: 48px !important;

        .nav-menu-toggle-button {
            .button-icon-left {
                transform: rotate(-90deg) !important;
            }
        }
    }
}