@import '../../../../common';

.nav-menu-item {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    float: left;

    .nav-menu-item-title {
        width: 100%;
        height: 48px;
        text-align: left;
        padding: 16px !important;
        line-height: 16px;
        color: #fff;
        border-radius: 0;
        box-shadow: none;
        border: none;
        overflow: hidden;

        .button-icon-left {
            float: left;
            width: 16px;
            height: 16px;
            text-align: center;
            margin-right: 16px;
            font-size: 16px;
        }

        .base-button-value,
        .button-icon-right {
            display: block;
            overflow: hidden;
        }

        .base-button-value {
            float: left;
            transition: opacity $theme-transition-duration ease-in-out $theme-transition-duration;
        }

        .button-icon-right {
            position: relative;
            top: -2px;
            float: right;
            font-size: 20px;
            transform: rotate(180deg);
            transition: opacity $theme-transition-duration ease-in-out $theme-transition-duration,
            transform $theme-transition-duration ease-in-out;

            &.collapsed {
                transform: rotate(0deg);
            }
        }

    }

    .nav-menu-item-link {
        display: block;

        .nav-menu-item-title {
            &.activated {
                background: transparentize($theme-highlight, .5);
            }
        }
    }

    .nav-menu-children {
        overflow: hidden;

        .nav-menu-item-title {
            padding-left: 64px !important;
        }
    }

    &.collapsed {
        .nav-menu-children {
            height: 0;
        }
    }
}

.portal {

    .popup.nav-menu-children-popup {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: none !important;
        margin-top: 0 !important;

        .popup-content {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background: transparent;
            border: none !important;

            .nav-menu-children-popup-title {
                box-sizing: border-box;
                height: 48px;
                padding: 16px 8px;
                line-height: 16px;
                background: $theme-highlight;
                color: #fff;
            }

            .nav-menu-item-title {
                padding-left: 24px !important;

                &.activated {
                    background: #148cb3;
                }
            }
        }
    }
}

.app.nav-menu-collapsed {

    .nav-menu-item {

        .nav-menu-item-title {

            .button-icon-left {
                margin-right: 0 !important;
            }

            .base-button-value,
            .button-icon-right {
                opacity: 0;
            }

            .base-button-value {
                transition: opacity 0s ease-in-out !important;
            }

            .button-icon-right {
                transition: opacity 0s ease-in-out,
                transform $theme-transition-duration ease-in-out !important;
            }
        }

    }
}