@import '../../common.scss';

.app {

    .app-content {
        position: relative;
        box-sizing: border-box;
        min-height: 100vh;
        padding: 24px 48px 48px 64px+200px+48px;

        .page-loading-highlight {
            background: #90ddff !important;
        }

        .content-router-view {
            @include float-fix;
            min-height: 100%;
        }

        .module-loading {
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -24px;
        }

        .app-content-modal {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    &.nav-menu-collapsed {
        .app-content {
            padding-left: 64px+48px;
        }
    }

}

//@media (max-width: 767px) {
//}