@import '../common.scss';

.material-text-field {

    .material-text-field-label {
        color: transparentize($theme-field, .3) !important;
    }

    .text-field-input {
        font-size: inherit !important;
    }

    .text-field-right-icon {
        .unit::after {
            color: $theme-description;
        }
    }

    &.focused {
        .material-text-field-label {
            color: $theme-highlight !important;
        }
    }
}