@import '../common.scss';

.portal {
    .notifier {
        top: 10px !important;

        .notification {
            width: 320px;
            height: auto;
            color: #262626;

            .notification-icon {
                font-size: 14px !important;

                &.info {
                    color: $theme-info;
                }
                &.warning {
                    color: $theme-warning;
                }
            }

            .notification-close-Button {
                color: #05789c;
                font-size: 12px !important;
            }

            &.theme-info {
                background: $theme-info-bg;
                border: 1px solid $theme-info-border;
            }

            &.theme-info:hover {
                background: $theme-info-bg;
                border: 1px solid $theme-info-border;
            }

            &.theme-warning {
                background: $theme-warning-bg;
                border: 1px solid $theme-warning-border;
            }

            &.theme-warning:hover {
                background: $theme-warning-bg;
                border: 1px solid $theme-warning-border;
            }
        }

    }
}
