@import '../common.scss';

.round-step {

    .round-step-item {

        .bg-bar,
        .right-bar {
            top: 29px !important;
            height: 2px !important;
        }

        .bg-round {
            display: none;
        }

        .round {
            top: 26px !important;
            margin-left: -4px !important;
            width: 8px !important;
            height: 8px !important;
            overflow: hidden;
            background: $theme-field-disabled !important;
            box-shadow: none !important;
        }

        &.finished {
            .round {
                background: $theme-primary !important;
            }
        }

        &.activated {

            .bg-round {
                display: block;
                background: transparentize($theme-highlight, .9) !important;
            }

            .round {
                background: $theme-highlight !important;
            }
        }
    }
}