@import '../../../common';

.nav {
    transition: width $theme-transition-duration ease-in-out;

    .nav-inner {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 90;
        display: flex;
        transition: width $theme-transition-duration ease-in-out;

        .nav-toggle {
            position: absolute;
            top: 0;
            right: -16px;
            box-sizing: border-box;
            width: 17px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 1;
            cursor: ew-resize;
            transition: opacity $theme-transition-duration ease-in-out;

            .nav-toggle-icon {
                width: 16px;
                text-align: center;
                line-height: 36px;
                color: $theme-highlight;
                font-weight: 700;
                cursor: pointer;
            }
        }

        &:hover {

            .nav-toggle {
                right: -15px;
                border-left: 2px solid $theme-highlight;
                opacity: 1;
            }
        }
    }
}