@import '../../../common';

.nav-wrapper {

    .nav {
        width: 64px+240px;

        .nav-inner {
            position: fixed;
            left: 0;
            top: 0;
            display: flex;
            width: 64px+240px;
            height: 100vh;
        }
    }
}